* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    position: relative;
    min-height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

footer::before {
    content: "";
    background-image: url("../images/f.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin-right: 30px;
}
.copyright {
    text-align: right;
    color:black;
}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

div a {
    color:rgb(216, 218, 219) ;
    font-weight: 500;
    transition: text-shadow 0.3s ease; 
   
}

a:hover {
    text-shadow: 5px 5px 5px rgba(248, 248, 248, 0.3); 
    font-weight: bold;   /* Makes text bold */
    font-size: 1.1em; 
}