
body{
    margin: 0;
}
.header1{
    background-color:rgba(239, 232, 220);
    height: 140px;
}


.container{
    display: flex;
    align-items: center;
    max-width:600px;    
    margin: 0 auto;  
    gap: 60px;  
}

  
.logo img{
    width: 140px;
    height: 140px;
    margin-left:50px;
    margin: 0;
}
.nav{
    display: flex;
    gap: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-right: 50px;
}
.nav a{
    text-decoration: none;
    color: rgb(2, 73, 47);
}
a {
    transition: text-shadow 0.3s ease; 
}
a:hover {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
}




