body{
    margin: 0;
}
.container{
    background-color:rgba(239, 232, 220);
    height: 110px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

}
.logo img{
    width: 150px;
    height: 110px;
    margin-left:50px;
    margin: 0;
}
.headertext{
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: rgb(2, 73, 47);
    margin-left: 25px;

}
nav{
    display: flex;
    gap: 32px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgba(239, 232, 220);
}
hr{
    margin: 0;
}

nav a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color:rgb(128,0,0);
    transition: text-shadow 0.3s ease;
}
nav a:hover {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); 
}