body{
    margin: 0;
}

.container{
    background-color:rgba(239, 232, 220);
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

}
.logo img{
    width: 220px;
    height: 170px;
    margin-left:50px;
    margin: 0;
}
.headertext{
    font-size: 90px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(2, 73, 47);
}
nav{
    display: flex;
    gap: 30px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    color:grey
}